*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

#root{
  width: 100vw;
  height: 100vh;
  background-color: #40414f;
}

/* sidebar */
#sidebarMenu{
  width: 15vw;
  height: 94vh;
  background-color: #343541;
  position: absolute;
  margin-top: 6vh;
  display: none;
}

/* header */
#menu{
  width: 100vw;
  height: 6vh;
  background-color: #343541;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
}

#menuUl{
  width: 95vw;
  list-style:none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#menuUl>li{
  float: left;
}


/* main */
#answerChat{
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

#answerChat>ul{
  list-style: none;
}

#answerChat>ul>li{
  display: flex;
  justify-content: center;
  align-items: center;
}

#answerChat>ul>li:nth-child(odd){
  background-color: aqua;
}


#answerChat>ul>li:nth-child(even){
  background-color: aquamarine;
}

#answerChat>ul>li>p{
  width: 50vw;
}


#question{
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  margin-top: 4vh;
}

#searchContent{
  width: 42vw;
  height: 4vh;
}
#searchSend{
  height: 4vh;
}
